

/*.carousel-image {
    width:100%;
    height: auto;
    /* border-radius: 10px;
}
.carousel-text{
    text-align: center;
    align-content: center;
}

.carousel-title{
    text-align: center;
    align-content: center;
}

.carousel-button-next {
    background-color: white;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    height: 30px;
    width:100px;
}
.carousel-button-prev {
    background-color: white;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    height: 30px;
    width:100px;
}

.carousel-details{
    margin:0;
    width:100%;
    align-items: center;
    justify-content: center;
}*/